Repository codecov/xcode-poc: changes, and which Codecov flags are due for each by the changed paths.
All: project-one, project-two

add term envvar to fix bash hang
  .circleci/config.yml
Due: none

update ci
  .circleci/config.yml
Due: none

update project one view
  project-one/xcode-poc/ContentView.swift
Due: project-one

update project two content view
  project-two/xcode-poc/ContentView.swift
Due: project-two

git diff quietly
  .circleci/config.yml
Due: none

update content view in proj two again
  project-two/xcode-poc/ContentView.swift
Due: project-two

remove comma from bash array
  .circleci/config.yml
Due: none

another proj2 update
  project-two/xcode-poc/ContentView.swift
Due: project-two

spec sub-proj derived data path in ci
  .circleci/config.yml
Due: none

update proj 2
  project-two/xcode-poc/ContentView.swift
Due: project-two

use _ instead of - in cf flags
  .circleci/config.yml
  codecov.yml
Due: none

update proj1
  project-one/xcode-poc/ContentView.swift
Due: project-one

update proj2
  project-two/xcode-poc/ContentView.swift
Due: project-two

Use execFileSync
  generate-codecov-json.js
Due: none

Create LICENSE
  LICENSE
Due: none

Add suport to folders with names
  generate-codecov-json.js
Due: none

chore(ci): add fossa workflow
  .github/workflows/enforce-license-compliance.yml
Due: none

ci: remove Enforce License Compliance workflow
  .github/workflows/enforce-license-compliance.yml
Due: none

ci: remove Enforce License Compliance workflow (#6)
  .github/workflows/enforce-license-compliance.yml
Due: none

Override ansi-regex and y18n to clear Dependabot highs.
  package-lock.json
  package.json
Due: none

ci: add minimal workflow so CodeQL actions scan succeeds.
  .github/workflows/ci.yml
Due: none

ci: add CodeQL config for actions language scan
  .github/codeql/codeql-config.yml
Due: none

ci: retire broken CircleCI Xcode 11.4 job
  .circleci/config.yml
Due: none

Potential fix for pull request finding 'CodeQL / Workflow does not contain permissions'
  .github/workflows/ci.yml
Due: none

Path conditions:
  project-one: any of: project-one/
  project-two: any of: project-two/
